@page
@model IndexModel
@{
    ViewData["Title"] = "Index page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to 30 Days 30 Experts Series</h1>
    <p>Learn more about <a href="https://reskilll.com/">Reskilll</a>.</p>
</div>
